<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>  
    <h1><%= title %></h1>
    <form method="POST" action="/new">
        <input name="author"/>
        <input name="messageText"/>
        <button>Submit</button>
    </form>
  </body>
</html>